<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Book</title>
  </head>
  <body style="padding: 100px 400px 100px 400px">
    <div
      style="
        display: flex;
        flex-direction: column;
        justify-content: center;
        background-color: rgb(164, 186, 201);
        padding: 10px;
        align-items: center;
        text-align: center;
        color: rgb(0, 79, 153);
        font-size: 30px;
        font-weight: 600;
        font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS',
          sans-serif;
        border-radius: 5px;
      "
    >
      <h1 style="font-size: 50px">Book Component By Function</h1>

      <div style="color: black">
        <div
          style="
            display: flex;
            justify-content: right;
            font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
            background-color: white;
            background-image: radial-gradient(#e6e6e6 1px, transparent 1px);
            background-size: 2.5px 2.5px;
            width: 250px;
          "
        >
          <div
            style="
              color: white;
              background-color: rgb(43, 43, 43);
              display: flex;
              font-size: 10px;
              font-weight: 500;
              top: 0;
              height: 16px;
              padding: 2px 4px 2px 4px;
            "
          >
            OREILLY
          </div>
          <div style="text-align: right; padding: 10px">
            <p style="font-size: 5px">
              "Kyle's way of critically thinking about every tiny bit of the
              <br />
              language will creep into your mindset and general workflow."
              <br />
              -<b>SHANE HUDSON, freelance frontend website developer </b>
            </p>
            <span style="font-weight: 500; font-size: 15px">
              KYLE SIMPSON
            </span>
          </div>
        </div>
        <div
          style="
            display: flex;
            justify-content: right;
            text-align: right;
            font-size: 30px;
            font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
            background-color: rgb(255, 255, 255);
            width: 230px;
            padding: 10px;
          "
        >
          <span>
            SCOPE &<br />
            CLOSUERS
          </span>
        </div>
        <div
          style="
            display: flex;
            background-color: rgb(255, 230, 0);
            width: 230px;
            font-size: 120px;
            font-weight: 700;
            font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
            justify-content: right;
            padding: 10px;
          "
        >
          <span>JS</span>
          <span
            style="
              transform: rotateZ(270deg) translate(-78px, -48px);
              font-size: 8px;
              font-weight: 800;
              position: absolute;
              color: rgb(255, 230, 0);
            "
          >
            YOU DON'T KNOW
          </span>
        </div>
      </div>
      <p style="font-size: 30px">By Kyle Simpson</p>
      <p style="color: rgb(48, 48, 48); font-size: 20px">
        Parts of the language that many JavaScript programmers simply avoid.
      </p>
      <span style="font-size: 20px">&copy; 2021 Tania</span>
    </div>
  </body>
</html>
