<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="styles.css" />
    <title>Book</title>
  </head>
  <body style="padding: 100px 400px 100px 400px">
    <div class="main">
      <h1>Book Component By Function</h1>

      <img src="book.jpg" alt="" />

      <p id="name">By Kyle Simpson</p>
      <p class="text">
        Parts of the language that many JavaScript programmers simply avoid.
      </p>
      <footer>&copy; 2025 Hamza & Ahmad</footer>
    </div>
  </body>
</html>
