.main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: rgb(164, 186, 201);
  padding: 10px;
  align-items: center;
  text-align: center;
  color: rgb(0, 79, 153);
  font-size: 30px;
  font-weight: 600;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  border-radius: 5px;
}

h1 {
  font-size: 50px;
}
#name {
  font-size: 30px;
}
.text {
  color: rgb(48, 48, 48);
  font-size: 20px;
}
footer {
  font-size: 20px;
}

img {
  width: 220px;
}
